DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
AUTH0_DOMAIN=dev-n3fdwaan0yuprun4.us.auth0.com
AUTH0_AUDIENCE=https://dev-n3fdwaan0yuprun4.us.auth0.com/api/v2/
CLIENT_ORIGIN=http://localhost:5173
PORT=4000
HOST=127.0.0.1
