@import "tailwindcss";

:root {
  font-family: "Coming Soon", cursive;
  color: #0f172a;
  background-color: #fff0f3;
  font-synthesis: weight style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #fff0f3;
  font-family: "Coming Soon", cursive;
  font-weight: 400;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
input,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.sx-react-calendar-wrapper {
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: none;
}
